@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,700,700i');

body {
  margin: 0px;
  background: #eee;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.center {
  max-width: 700px;
}
img {
  width: 400px;
  transition: all 0.2s ease;
}
img:hover {

}
a {
  text-decoration: none;
  color: inherit;
}
a.link {
  border-bottom: 1px solid transparent;
  padding: 4px 0px;
  transition: all 0.1s ease;
}
a.link:hover {
  border-bottom-color: inherit;
}
div {
  margin-bottom: 20px;
}
